@use 'variables' as v;

.main {
  margin: 50px 0px;
}
.title a {
  color: #39ae5c;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 40px;
  @include v.mq(md) {
    font-size: 30px;
  }
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  margin: 2.5%;
  padding: 25px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: 45%;
  @include v.mq(md) {
    width: 220px;
    margin: 10px;
    padding: 20px;
  }
  @include v.mq(sm) {
    width: 280px;
  }
}

.card:hover,
.card:focus,
.card:active {
  color: #30944e;
  border-color: #26753e;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 20px;
  font-weight: bold;
  @include v.mq(md) {
    font-size: 18px;
  }
}

.card p {
  margin: 0;
  font-size: 20px;
  @include v.mq(md) {
    font-size: 12px;
  }
  line-height: 1.5;
}
